
/* Index page */
@media only screen and (max-width: 1074px) {
    #profileDivPic {
        width: 220px;
        height: 220px;
        margin: 0 30px 15px 0;
    }
    
    #paragraph1,
    #paragraph2,
    #paragraph3,
    #paragraph4 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 700px) {
    #about {
        padding: 5%;
    }

    #profileDivPic {
        float: none;
        width: 200px;
        height: 200px;
        margin: 0 auto 25px auto;
        display: block;
    }
    
    #paragraph1,
    #paragraph2,
    #paragraph3,
    #paragraph4 {
        text-align: left;
        font-size: 0.95em;
    }
}

/* Project page */
@media only screen and (max-width: 700px) {
    #project {
        grid-template-areas: 
                        'staticHeading'
                        'lamboHeading' 
                        'lamboBox' 
                        'compWebHead'
                        'compWebBox'
                        'dinamicHeading'
                        'webCompHead' 
                        'webCompBox'
                        'finWebHead'
                        'finWebBox'
                        'gameHead'
                        'comLineHead'
                        'comLineBox';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.5fr 0.5fr 1.5fr 0.5fr 1.5fr) 0.5fr 0.5fr 1.5fr;
    }
}

/* Certificate page */
@media only screen and (max-width: 700px) {
    #certification {
        grid-template-areas: 'cs50head'
                            'cs50pic' 
                            'cs50Topic'
                            'cshead' 
                            'csPic'
                            'csTopic'
                            'pythonhead'
                            'pythonPic'
                            'pythonTopic'
                            'csshead' 
                            'cssPic'
                            'cssTopic'
                            'eHackHead'
                            'eHackPic'
                            'eHackTopic'
                            'clHead'
                            'clpic'
                            'clTopic'
                            'stackHead'
                            'stackPic'
                            'stackTopic';
        grid-template-columns: 1fr;
        /* grid-template-rows: 0.1fr 0.7fr 1.2fr repeat(6, 0.1fr 1fr auto); */
        grid-template-rows: 0.1fr 0.7fr 1.7fr repeat(6, auto auto auto);

        justify-items: center;
    }

    article {
        display: grid;
        justify-content: center;
    }
}
