body {
    background-color: rgb(6, 6, 6);
    /* color: white; */
    color: #39FF14;
}

/* Navigation bar, Email, Github, linkedin */
#topLine {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-areas: 'emailDiv nav gitIcon';
        grid-template-columns: 1fr 3fr 0.5fr;
        margin-top: 2%;
}

.topLineLinks {
    color: #39FF14;
    font-size: 1.3em;
    margin-left: 5%;
    background-color: black;
}

#emailDiv {
    position: relative;
    grid-area: emailDiv;
    left: 20%;
}

nav {
    grid-area: nav;
}

#gitIcon {
    position: relative;
    grid-area: gitIcon;
    left: 20%;
}

nav {
    position: relative;
    left: 27%;
    display: flex;
    width: 80%;
} 


li {
    display: inline;
}

/* Turquoise boxes */
#about,
#project,
#certification {
    width: 90%;
    left: 3%;
    border-radius: 10%;
    position: relative;
    background-color: #1C658C;
    border: 5px solid #f42606;
    color: white;
}

/* About Me Section  */
h1 {
    background-color: #1C658C;
    text-align: center;
    border: 5px solid #f42606;
    width: 100%;
    height: 35px;
    color: white;

}

#about {
    position: relative;
    padding: 3% 4% 3% 4%;
    margin-top: 2%;
}

#profileDivPic{
    width: 280px;
    height: 280px;
    float: left;
    margin: 0 40px 20px 0;
    shape-outside: circle(50%);
    position: relative;
}

#profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    border: 3px solid rgb(207, 25, 119);
    box-shadow: 0 8px 24px rgba(244, 38, 6, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#profileImg:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 32px rgba(244, 38, 6, 0.5);
}

#paragraph1,
#paragraph2,
#paragraph3,
#paragraph4 {
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 1.05em;
}


                /* Project Section */
#project h1 {
    background-color: #1C658C;
    text-align: center;
    border: 2px solid black;
    width: 100%;
    height: 10px;
}

#project div {
    width: 300px;
    height: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}   

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* transition: 200ms ease-in-out; */
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    padding-left: 2%;
    padding-right: 2%;
  }

.comLineBox:hover > .modal,
.finWebBox:hover > .modal,
.webCompBox:hover > .modal,
.compWebBox:hover > .modal,
.lamboBox:hover > .modal {
    transform: translate(-50%, -50%) scale(1);
    color: black;
}

button {
    position: relative;
    left: 33%;
    transform: translate(-55%);
    margin-left: 5%;
    margin-bottom: 5%;
    width: 120px;
}

  .liIndent {
    padding-left: 20px;
  }

#project {
    display: grid;
    position: relative;
    grid-template-areas: 
                         'staticHeading staticHeading'
                         'lamboHeading compWebHead'
                         'lamboBox compWebBox'
                         'dinamicHeading dinamicHeading'
                         'webCompHead finWebHead'
                         'webCompBox finWebBox'
                         'gameHead gameHead'
                         'comLineHead comLineHead'
                         'comLineBox comLineBox';

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 0.5fr 0.5fr 2.5fr);   
    justify-items: center;
    gap: 10px;
}


.staticHeading {
    grid-area: staticHeading;
}

.lamboHeading {
    grid-area: lamboHeading;
}

.compWebHead {
    grid-area: compWebHead;
}

.lamboBox {
    grid-area: lamboBox;
    background-image: url('../img/lambo.jpg');

}   

.compWebBox {
    grid-area: compWebBox;
    background-image: url('../img/company_website.jpg');
}

.dinamicHeading {
    grid-area: dinamicHeading;
}

.webCompHead {
    grid-area: webCompHead;
} 

.finWebHead {
    grid-area: finWebHead;
}

.webCompBox {
    grid-area: webCompBox;
    background-image: url('../img/Web\ Base\ Banking\ tool\ .jpg');
} 

.finWebBox {
    grid-area: finWebBox;
    background-image: url('../img/finance.jpg');
} 

.gameHead {
    grid-area: gameHead;
}

.comLineHead {
    grid-area: comLineHead;
}

.comLineBox {
    grid-area: comLineBox;
    background-image: url('../img/tictactoe.jpg');
    position: absolute;
    bottom: 20px;
}
    /* Certification Page  */

.certBox {
    width: 300px;
    height: 234px;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
                    }



#cs50pic:hover,     
.certBox:hover{
    transform: translatey(-10%);
    cursor: grab;
    border: 5px solid #f42606;
    
}
                    
#certification {
    display: grid;
    position: relative;
    grid-template-areas: 'cs50head cs50head'
                         'cs50pic cs50Topic'
                         'cshead cshead' 
                         'csPic csTopic'
                         'pythonhead pythonhead'
                         'pythonPic pythonTopic'
                         'csshead csshead' 
                         'cssPic cssTopic'
                         'eHackHead eHackHead'
                         'eHackPic eHackTopic'
                         'clHead clHead'
                         'clpic clTopic'
                         'stackHead stackHead'
                         'stackPic stackTopic';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 0.5fr 3fr);
    justify-items: center;
    gap: 10px;
}



#cs50head {
    grid-area: cs50head;
}

#cshead {
    grid-area: cshead;
}

#cs50pic {
    grid-area: cs50pic;
    background-image: url('../img/cs50.jpg');
    width: 300px;
    height: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#cs50Topic {
    grid-area: cs50Topic;
    height: 160px;
}

#csPic {
    grid-area: csPic;
    background-image: url('../img/computer_science.jpg');
}


#csTopic {
    grid-area: csTopic;
}

#csshead {
    grid-area: csshead;
}

#cssPic {
    grid-area: cssPic;
    background-image: url('../img/css.jpg');
}

#cssTopic {
    grid-area: cssTopic;
}

#pythonhead {
    grid-area: pythonhead;
}

#pythonPic {
    grid-area: pythonPic;
    background-image: url('../img/python.jpg');
}

#pythonTopic {
    grid-area: pythonTopic;
    
}

#eHackHead {
    grid-area: eHackHead;
}

#eHackPic {
    grid-area: eHackPic;
    background-image: url('../img/ethical_hacking.jpg');
}

#eHackTopic {
    grid-area: eHackTopic;
}

#clHead {
    grid-area: clHead;
}

#clpic {
    grid-area: clpic;
    background-image: url('../img/command_line.jpg');
}

#clTopic {
    grid-area: clTopic;
}

#stackHead {
    grid-area: stackHead;
}

#stackPic {
    grid-area: stackPic;
    background-image: url('../img/full_stack.jpg');
    width: 300px;
    height: 129px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#stackTopic {
    grid-area: stackTopic;

}

li {
    display: block;
}

article {
    width: 100%;
}




