body {
    background-color: #159895;
    color: #f1f7f7;
}

li {
    display: inline;
}

/* About Me Section  */
h1 {
    background-color: #1C658C;
    text-align: center;
    border: 2px solid black;
    width: 100%;
    height: 35px;
}

#profileDivPic{
    width: 180px;
    height: 150px;
    position: absolute;   
    left: 7%;
    top: 8%;
    z-index: auto;
    /* border-radius: 50%; */
}

#profileImg {
    max-width: 100%;
    max-height: 100%;
    display: block;
    background-size: cover;
    /* border-radius: 50%; */
}

#profileText,
#project,
#certification {
    width: 90%;
    left: 5%;
    border-radius: 10%;
    position: relative;
    z-index: -1;
    background-color: #1C658C;
}

#firstParagraph {
    position: relative;
    left: 20%;
    width: 75%;
}

.profileParagh {
    margin: 3% 3%;
}


                /* Project Section */
#project h1 {
    background-color: #1C658C;
    text-align: center;
    border: 2px solid black;
    width: 100%;
    height: 10px;
}

#project {
    display: grid;
    position: relative;
    grid-template-areas: 
                         'staticHeading staticHeading'
                         'lamboHeading compWebHead'
                         'lamboBox compWebBox'
                         'dinamicHeading dinamicHeading'
                         'webCompHead finWebHead'
                         'webCompBox finWebBox'
                         'gameHead gameHead'
                         'comLineHead comLineHead'
                         'comLineBox comLineBox';

    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 50px 50px 165px);
    justify-items: center;
    gap: 10px;
    border: 2px solid rgb(207, 25, 119);
}


.staticHeading {
    grid-area: staticHeading;
}

.lamboHeading {
    grid-area: lamboHeading;
}

.compWebHead {
    grid-area: compWebHead;
}

.lamboBox {
    grid-area: lamboBox;
    background-image: url('../img/lambo.jpg');

}   

.compWebBox {
    grid-area: compWebBox;
    background-image: url('../img/company_website.jpg');

}

.dinamicHeading {
    grid-area: dinamicHeading;
}

.webCompHead {
    grid-area: webCompHead;
} 

.finWebHead {
    grid-area: finWebHead;
}

.webCompBox {
    grid-area: webCompBox;
    background-image: url('../img/Web\ Base\ Banking\ tool\ .jpg');
} 

.finWebBox {
    grid-area: finWebBox;
    background-image: url('../img/finance.jpg');
} 

.gameHead {
    grid-area: gameHead;
}

.comLineHead {
    grid-area: comLineHead;
}

.comLineBox {
    grid-area: comLineBox;
    background-image: url('../img/tictactoe.jpg');
    position: absolute;
    bottom: 20px;
}

#project div {
    width: 300px;
    height: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}   

div {
    border: 2px solid rgb(238, 7, 7);
}


footer,
#email {
    text-align: center;
}



                    /* Certification Page  */
#certification {
    display: grid;
    position: relative;
    grid-template-areas: 'cs50head cs50head'
                         'cs50pic cs50topic'
                         'cshead cshead' 
                         'csPic csTopic'
                         'pythonhead pythonhead'
                         'pythonPic pythonTopic'
                         'csshead csshead' 
                         'cssPic cssTopic'
                         'eHackHead eHackHead'
                         'eHackPic eHackTopic'
                         'clHead clHead'
                         'clpic clTopic'
                         'stackHead stackHead'
                         'stackPic stackTopic';
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(8, 50px 250px );
    justify-items: center;
    gap: 10px;
    border: 2px solid rgb(207, 25, 119);
}

.certBox {
    width: 300px;
    height: 234px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#cs50head {
    grid-area: cs50head;
}

#cshead {
    grid-area: cshead;
}

#cs50pic {
    grid-area: cs50pic;
    background-image: url('../img/cs50.jpg');
    width: 300px;
    height: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#cs50topic {
    grid-area: cs50topic;
    height: 160px;
}

#csPic {
    grid-area: csPic;
    background-image: url('../img/computer_science.jpg');
}


#csTopic {
    grid-area: csTopic;
}

#csshead {
    grid-area: csshead;
}

#cssPic {
    grid-area: cssPic;
    background-image: url('../img/css.jpg');
}

#cssTopic {
    grid-area: cssTopic;
}

#pythonhead {
    grid-area: pythonhead;
}

#pythonPic {
    grid-area: pythonPic;
    background-image: url('../img/python.jpg');
}

#pythonTopic {
    grid-area: pythonTopic;
}

#eHackHead {
    grid-area: eHackHead;
}

#eHackPic {
    grid-area: eHackPic;
    background-image: url('../img/ethical_hacking.jpg');
}

#eHackTopic {
    grid-area: eHackTopic;
}

#clHead {
    grid-area: clHead;
}

#clpic {
    grid-area: clpic;
    background-image: url('../img/command_line.jpg');
}

#clTopic {
    grid-area: clTopic;
}

#stackHead {
    grid-area: stackHead;
}

#stackPic {
    grid-area: stackPic;
}

#stackTopic {
    grid-area: stackTopic;
}

li {
    display: block;
}

article {
    width: 100%;
}